// Place any CSS rules you want to apply only on Android here
tabview {
  tab-text-color: red;
  selected-tab-text-color: red;
  android-selected-tab-text-color: red;
  android-selected-tab-highlight-color: yellow;
}
