.list-group {
  background-color: $grey-light;
}

.list-group-item {
  margin: 0;
  padding: 16;
}

.subheader {
  background-color: $primary;
  font-weight: bold;
  & label {
    color: #fff;
  }
  padding: 8 16 8 16;
}
